@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-svg-core/styles.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ededed;
        --foreground: #0a0a0a;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    background-color: white;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* From Uiverse.io by YarikZhukovDesigner */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #cb0000;
    background-image: linear-gradient(#cb0000, #ffc700, #c79c00);
}

.loader span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #cb0000;
    background-image: linear-gradient(#ff0000, #ffc800, #ffc800);
}

.loader span:nth-of-type(1) {
    filter: blur(5px);
}

.loader span:nth-of-type(2) {
    filter: blur(10px);
}

.loader span:nth-of-type(3) {
    filter: blur(25px);
}

.loader span:nth-of-type(4) {
    filter: blur(50px);
}

.loader::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
}

@keyframes rotate_3922 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
